<!DOCTYPE html>
<html lang="en">
    <head>
        <title>crud</title>
        <style>
            body{
              text-align: center;
            }
            h1{
              color: rgb(38, 77, 38);
            }
              table {
                  border-collapse: collapse;
                  width: 100%;
              }
              th, td {
                  border: 1px solid black;
                  padding: 8px;
                  text-align: left;
              }
              th {
                  background-color: #cfcfcf;
              }
          </style>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>Col1</th>
                    <th>Col2</th>
                    <th>Col3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Item11</td>
                    <td>Item21</td>
                    <td>Item31</td>
                </tr>
                <tr>
                    <td>Item21</td>
                    <td>Item22</td>
                    <td>Item23</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>