<!DOCTYPE html>
<html lang="en">
    <head>
        <title>crud</title>
        <style>
            body{
              text-align: center;
            }
            h1{
              color: rgb(38, 77, 38);
            }
              table {
                  border-collapse: collapse;
                  width: 15%;
              }
              th, td {
                  border: 1px solid black;
                  padding: 8px;
                  text-align: left;
              }
              th {
                  background-color: #cfcfcf;
              }
          </style>
    </head>
    <body>
        <h1>Tabela :3</h1>
        <p>wow olha essa tabela :O</p>
        <p>que tabela bacana!</p>

        {{ continentes | safe }}
        
        {% load crispy_forms_tags %}

        {% block content %} 
        <h1 class="text-center mt-3 mb-3">Adicionar Continente</h1>
        <div class="container">
            <form method="post" class="jumbotron">
                {% csrf_token %}
                {{continenteform|crispy}}
                <input type="submit" value="Add Cont" class="btn btn-success">
            </form>
        </div>
        {% endblock %}

    </body>
</html>