{% extends "index.html" %}

{% block content %}
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Nome do continente</td>
            <td>
                <a href="{% url 'Cadmus Menu' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i> Novo registro
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for continent in view_continent %}
            <tr>
                <td>{{continent.continent_name}}</td> 
                <td>
                    <a href="{% url 'continent_update' continent.id %}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a> 
                    <form action="{% url 'continent_delete' continent.id %}" method="POST" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right">
                            </i>
                        </button>
                    </form>
                </td>
            </tr> 
        {% endfor %}
    </tbody>
</table>
{% endblock content %}