<!DOCTYPE html>
<html>
<head>
    <title>Table Data - {{ table_name }}</title>
</head>
<body>
    <h1>Data in {{ table_name }}</h1>
    <table border="1">
        <tr>
            {% for col in colnames %}
                <th>{{ col }}</th>
            {% endfor %}
        </tr>
        {% for row in rows %}
            <tr>
                {% for data in row %}
                    <td>{{ data }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <a href="{% url 'create_record' table_name %}">Add New Record</a>
</body>
</html>
